<div ng-repeat="(key, value) in tests">
  <div class="panel panel-default">
    <div class="panel-heading">{{key}}</div>
    <div class="panel-body">
      <ul>
        <li ng-repeat="(resultUrl,references) in value">
          {{resultUrl}}
          <button type="button" class="btn btn-success btn-number btn-sm">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
          <ul>
            <li ng-repeat="(url, epss) in references">
              {{url}}: refeps={{epss.refeps}}
              <button class="btn btn-xs btn-danger" ng-click="updateEps()">
                eps={{epss.eps}}
              </button>
              <button type="button" class="btn btn-warning btn-number btn-sm" ng-click="deleteRef()">
                <span class="glyphicon glyphicon-minus"></span>
              </button>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
